# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.txt
*.m~
RunScripts/run_TIMIT.DIALECT.1.m
RunScripts/run_TIMIT.DIALECT.2.m
RunScripts/run_TIMIT.DIALECT.8.m
RunScripts/run_TIMIT.DIALECT.7.m
RunScripts/run_TIMIT.DIALECT.5.m
RunScripts/run_TIMIT.DIALECT.6.m
RunScripts/run_TIMIT.DIALECT.4.m
RunScripts/run_TIMIT.DIALECT.3.m
Data/phoneme_names_TIMIT.mat
